.about__Hero h2 {
  font-family: Inter;
  font-size: 131px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -6px;
  text-align: center;
  margin-bottom: 10rem;
}

.abt_hr-img img {
  width: 100%;
  object-fit: cover;
}

.about__Hero {
  padding: 0 10rem 10rem;
}

.achievement__S {
  display: flex;
  justify-content: space-between;
  gap: 42px;
  padding: 10rem;
  align-items: center;
}

.acc_Img-con {
  flex: 1;
}

.acc_content-con {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.acc_Img img {
  width: 100%;
  object-fit: cover;
}

.acc_Ttl h3 {
  font-family: Inter;
  font-size: 56px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: -2px;
  text-align: left;
}

.acc_Ttl p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  color: #9D9FA1;
  margin-top: 14px;
}

.acc_cnt-con {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.acc_cnt-row {
  display: flex;
  gap: 42px;
}

.acc_cnt-col {
  flex: 1;
}

.acc_counter span {
  font-family: Inter;
  font-size: 45px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: -1px;
  text-align: left;
}

.acc_head h4 {
  font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 10px;
}

.acc_para p {
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  color: #9D9FA1;
}

/* slider */
.about__Slider-testimonial{
  padding: 10rem;
}

.slider-section {
  position: relative;
}

.swiper-slide {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.section {
  margin: 0 auto;
  /* padding-block: 5rem; */
}

.slideContainer {
  max-width: 83rem;
  height: auto;
  margin-inline: auto;
  padding-inline: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: var(--white-100);
  background: var(--black-300);
}

.quote p {
  font-family: Inter;
  font-size: 37px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -0.8px;
  text-align: left;
  color: #fff;
}

.auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth_avtar {
  width: 78px;
  height: 78px;
}

.auth_avtar img {
  width: 100%;
  object-fit: cover;
}

.auth_details {
  display: flex;
  flex-direction: column;
}

.auth_N {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}

.auth_D {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  color: #9D9FA1;
}

.sw_Cnt {
  display: flex;
  flex-direction: column;
  gap: 45px;
  /* padding: 0 60px 60px 60px; */
  padding: 0 0 60px 0px;
}

/* .slider-section .swiper {
    padding: 0 40px;
  } */

.swiper-pagination {
  bottom: 0;
}

.swiper-button-prev {
  left: -5rem;
}

.swiper-button-next {
  right: -5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.6rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  background: #fff !important;
  height: 12px !important;
}