.cta__Wrap {
    position: relative;
    padding: 10rem 10rem 0;
}

.cta__S {
    background-image: url("../../../public/assets/images/cta.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 42px;
}

.cta__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 10rem 39rem;
}

.cta__Ttl h2 {
    font-family: Inter;
    font-size: 131px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -6px;
    text-align: center;
}

.cta__Ttl p {
    font-family: Inter;
    font-size: 29px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 20px;
}

.cta_Btn a {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #282828;
    background: #fff;
    border: 2px solid #fff;
    padding: 16px 37px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.cta_Btn a span {
    width: 26px;
    height: 26px;
}

.cta_Btn img {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1680px) {
    .cta__Wrap {
        padding: 6rem 6rem 0;
    }

    .cta__content {
        gap: 4rem;
        padding: 8rem 24rem;
    }

    .cta__Ttl h2 {
        font-size: 80px;
    }

    .cta__Ttl p {
        font-size: 22px;
        line-height: 36px;
    }

    .cta_Btn a {
        font-size: 17px;
        line-height: 30px;
        padding: 14px 35px;
    }

    .cta__S {
        border-radius: 32px;
    }
}

@media only screen and (max-width: 1150px) {
    .cta__content {
        padding: 8rem 10rem;
    }
}

@media only screen and (max-width: 991px) {
    .cta__Wrap {
        padding: 6rem 16px 0;
    }
}

@media only screen and (max-width: 600px) {
    .cta__Wrap {
        padding: 2rem 16px 0;
    }

    .cta__Ttl p {
        font-size: 18px;
        line-height: 30px;
    }

    .cta__Ttl h2 {
        font-size: 42px;
        letter-spacing: -2px;
    }

    .cta__content {
        padding: 8rem 16px;
        gap: 32px;
    }
}