.Hero-container {
  margin-top: 20px;
  padding: 0 10rem;
}

.title-hero {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 9rem;
}

.title-hero .line {
  width: 100%;
  height: 187px;
  position: relative;
  overflow: hidden;
}

.line span {
  position: absolute;
  font-family: Inter;
  font-size: 187px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -10px;
  text-align: center;
  color: #fff;
  width: 100%;
  display: inline-block;
  transform: skewY(7);
  transform: translateY(100%);

}

.image-container-hero {
  display: flex;
  justify-content: center;
}

.image-container-hero img {
  width: 100%;
  object-fit: cover;
}

.image-container-hero video {
  width: 100%;
  object-fit: cover;
}

.detail-sponsors {
  margin: 16rem 0;
  display: flex;
  justify-content: space-between;
}

.detail-text {
  width: 60%;
}

.sponsor-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.spn_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-text p {
  font-family: Inter;
  font-size: 45px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: -1.33px;
  text-align: left;
  color: #fff;
}

.sponsor1 {
  width: 230px;
  height: 62px;
}

.sponsor2 {
  width: 59px;
  height: 62px;
}

.sponsor3 {
  width: 123px;
  height: 62px;
}

.sponsor4 {
  width: 82px;
  height: 62px;
}

.sponsor5 {
  width: 230px;
  height: 62px;
}

.sponsor6 {
  width: 107px;
  height: 62px;
}

.span_clm img {
  width: 100%;
  object-fit: cover;
}