.ourTeam_Wrap {
    position: relative;
    padding: 10rem;
    margin-top: 32px;
}

.our_tm-wrap {
    position: relative;
    margin-top: 9rem;
}

.our_tm-clm {
    display: flex;
    justify-content: space-between;
}

.our_tm-crd {
    border: 2px solid #282828;
    border-radius: 32px;
}

.our_tm-img {
    width: 100%;
    /* height: 376px; */
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.our_tm-img img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.our_tm-txt {
    padding: 21px 21px 32px;
}

.our_tm-txt h4 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}

.our_tm-txt h5 {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    color: #9D9FA1;
}

@media only screen and (max-width: 1680px) {
    .ourTeam_Wrap {
        padding: 6rem;
    }

    .our_tm-wrap {
        margin-top: 6rem;
    }

    .our_tm-clm {
        gap: 12rem;
    }

    .our_tm-txt h4 {
        font-size: 18px;
        line-height: 30px;
    }

    .our_tm-txt h5 {
        font-size: 15px;
        line-height: 28px;
    }

    .our_tm-crd {
        border-radius: 25px;
    }

    .our_tm-txt {
        padding: 16px 16px 24px;
    }

    .our_tm-img {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .our_tm-img img {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}