.recent_Work-wrap {
  position: relative;
  padding: 6rem 10rem 0;
}

.rec_Sec {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.rec_Rw-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 42px;
  row-gap: 70px;
}

.rec_Content {
  border: 1px solid #282828;
  border-radius: 24px;
  height: 70vh;
  overflow: hidden;
}

.rec_Img {
  width: 100%;
  height: 80%;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  animation: shimmer 2.5s infinite;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.rec_Img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.rec_Ttl {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding: 53px;
  padding-left: 2vw;
  background-color: black;
}

.rec_Ttl a {
  font-family: Inter;
  font-size: 37px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -0.8px;
  text-align: left;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.rec_Btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: transparent;
  border: 2px solid #282828;
  border-radius: 52px;
  padding: 18px 37px;
  font-family: Inter;
  font-size: 27px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0px;
  text-align: center;
  color: #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.arrow-up-right {
  width: 37px;
  height: 37px;
}

.arrow-up-right img {
  width: 100%;
  object-fit: cover;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.shimmer-effect .rec_Ttl .card_title {
  height: 100%;
  /* Adjust to match the height of your actual title */
  width: 80%;
  /* Adjust to match the width of your actual title */
  border-radius: 4px;
  /* Optional: for rounded corners */
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  animation: shimmer 3s infinite;
}

@media only screen and (max-width: 1680px) {

  .rec_Ttl {
    padding: 40px;
  }

  .recent_Work-wrap {
    padding: 6rem 6rem 0;
  }

  .rec_Ttl a {
    font-size: 26px;
    line-height: 38px;
    /* padding: 32px; */
  }

  .rec_Btn a {
    padding: 13px 37px;
    font-size: 20px;
  }

  .arrow-up-right {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (max-width: 991px) {
  .recent_Work-wrap {
    padding: 6rem 16px 0;
  }

  .rec_Row {
    flex-direction: column;
  }

  .rec_Col {
    width: 100%;
  }

  .rec_Sec {
    margin-top: 4rem;
  }

  .rec_Rw-wrap {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    row-gap: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .rec_Sec {
    margin-top: 24px;
  }

  .rec_Ttl {
    padding: 24px;
  }

  .rec_Btn {
    font-size: 18px;
  }

  .rec_Ttl a {
    font-size: 20px;
    line-height: 35px;
    /* padding: 24px; */
  }

  .rec_Row {
    gap: 32px;
  }

  .rec_Rw-wrap {
    gap: 32px;
  }

  .rec_Sec {
    gap: 32px;
  }

  .rec_Btn a {
    padding: 12px 28px;
    font-size: 18px;
  }

  .arrow-up-right {
    width: 24px;
    height: 24px;
  }
}