.footer__Wrap {
    padding: 10rem;
    position: relative;
}

.footer_Sec {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "l t t t t t t t t t t t"
        "l f f f f f f f f f f f";
    border: 2px solid #282828;
    border-radius: 42px;
}

.footer_Logo-s {
    grid-area: l;
    padding: 9rem 10rem;
    border-right: 2px solid #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_Sec a {
    font-family: Inter;
    font-size: 19px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    color: #BDBDBD;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ft_logo {
    width: 164px;
    height: 100px;
}

.ft_logo img {
    width: 100%;
    object-fit: cover;
}

.ft_Top-s {
    grid-area: t;
    display: flex;
    border-bottom: 2px solid #282828;
}

.ft_menu-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
    border-right: 2px solid #282828;
}

.ft_email {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft_email a {
    font-family: Inter;
    font-size: 37px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.8px;
    text-align: center;
}

.ft_Btm-s {
    grid-area: f;
    display: flex;
}

.ft_Blog {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #282828;
}

.ft_Social-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    border-right: 2px solid #282828;
}

.ft_Social-item a {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282828;
    border-radius: 100%;
}

.ft_Copyright {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft_Copyright span {
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    color: #BDBDBD;
}

.ft_Blog span {
    width: 24px;
    height: 24px;
}

.ft_Blog span img {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1680px) {
    .footer__Wrap {
        padding: 6rem;
    }

    .footer_Sec {
        border-radius: 32px;
    }

    .footer_Logo-s {
        padding: 5rem 7rem;
    }

    .ft_menu-item {
        gap: 32px;
    }

    .footer_Sec a {
        font-size: 15px;
        line-height: 28px;
    }

    .ft_email a {
        font-size: 26px;
        line-height: 38px;
    }

    .ft_Social-item a {
        width: 40px;
        height: 40px;
    }

    .ft_Copyright span {
        font-size: 15px;
        line-height: 28px;
    }

    .ft_logo {
        width: 130px;
        height: 82px;
    }
}

@media only screen and (max-width: 1150px) {
    .ft_menu-item {
        gap: 20px;
    }

    .ft_email a {
        font-size: 21px;
        line-height: 32px;
    }

    .footer_Logo-s {
        padding: 4rem 5rem;
    }
}

@media only screen and (max-width: 991px) {
    .footer__Wrap {
        padding: 32px 16px 60px 16px;
    }

    .footer_Sec {
        grid-template-areas:
            "l l l l l l l l l l l l"
            "t t t t t t t t t t t t"
            "f f f f f f f f f f f f";
        grid-template-rows: auto;
    }

    .footer_Logo-s {
        border-right: none;
        border-bottom: 2px solid #282828;
        padding: 24px 5rem;
    }

    .ft_Top-s {
        flex-direction: column;
    }

    .ft_menu-item {
        padding: 16px 0;
        border-bottom: 2px solid #282828;
    }

    .ft_email {
        padding: 16px 0;
    }

    .ft_Btm-s {
        flex-direction: column;
    }

    .ft_Blog {
        padding: 16px 0;
        border-bottom: 2px solid #282828;
    }

    .ft_Social-item {
        padding: 16px 0;
        border-bottom: 2px solid #282828;
    }

    .ft_Copyright {
        padding: 16px 0;
    }

}