.blog_Mn-wrap {
    padding: 0 10rem;
}

.blog_card-wrap {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 6rem 10rem 5rem 10rem;
}

.blog-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 42px;
    row-gap: 70px;
}

/* .blog_col {
    flex: 1;
} */

.blog_con {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.blog_img img {
    width: 100%;
    object-fit: cover;
}

.blog_content {
    display: flex;
    flex-direction: column;
}

span.bl-dt {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    color: #9D9FA1;
}

.bl-ttl {
    font-family: Inter;
    font-size: 37px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.8px;
    text-align: left;
    padding-right: 13%;
}

.blog_more-btn {
    padding: 6rem 10rem 10rem;
}

.blog_more-btn button {
    font-family: Inter;
    font-size: 27px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
    color: #BDBDBD;
    background: transparent;
    border: 2px solid #282828;
    border-radius: 52px;
    padding: 18px 37px;
    width: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 1680px) {
    .blog_Mn-wrap {
        padding: 0 6rem;
    }

    .blog_card-wrap {
        padding: 6rem 6rem 5rem 6rem;
    }

    .bl-ttl {
        font-size: 28px;
        line-height: 40px;
    }

    span.bl-dt {
        font-size: 17px;
        line-height: 30px;
    }

    .blog_more-btn button {
        font-size: 22px;
        line-height: 38px;
        padding: 14px 30px;
    }

    .blog_more-btn {
        padding: 6rem 6rem 6rem;
    }
}

@media only screen and (max-width: 991px) {
    .blog_Mn-wrap {
        padding: 16px 16px 0;
    }

    .blog_card-wrap {
        padding: 4rem 16px 4rem 16px;
    }

    .blog-row {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        row-gap: 50px;
    }

    .bl-ttl {
        padding-right: 0;
    }

    .blog_more-btn {
        padding: 4rem 16px 4rem;
    }
}

@media only screen and (max-width: 600px) {
    span.bl-dt {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 8px;
    }

    .bl-ttl {
        font-size: 28px;
        line-height: 34px;
    }

    .blog_con {
        gap: 16px;
    }

    .blog_more-btn {
        padding: 0rem 16px 4rem;
    }

    .blog_more-btn button {
        font-size: 18px;
        line-height: 32px;
        padding: 12px 30px;
    }
}